<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<nav>
	<div class="nav-wrapper black">
	  <a href="/" class="brand-logo center globalNav">CRINGE</a>
	<ul id="nav-mobile" class="right">
	  <a href="{% url 'signup' %}" id="signUpNav">Sign Up</a>
  </ul>
	</div>
</nav>
<h2>Login</h2>
<img src="../../static/images/hazardsign.png" class="drunk">
<form method="post" class="loginForm">
  {% csrf_token %}
  {{ form.as_p }}
  <button id="loginFormBtn" class="btn waves-effect waves-light black" type="submit" name="action">Login</button>
</form>
<div class="empty">
</div>
{% endblock %}
