/* GLOBAL VARIABLES */
html {
    background:  linear-gradient(yellow, #FFD521);
    background-repeat: no-repeat;
}
main {
    text-align: center;
}
h2,h1 {
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
}
h3 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

/* NAVIGATION BAR */
nav .globalNav {
    font-family: 'Shadows Into Light', cursive;
}
nav #loginNav {
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
}
nav #signUpNav {
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
}

/*  logout button on Nav bar*/
.fas .fa-arrow-circle-left {
    color: white;
}

/*  empty div at bottom of each page*/
main .empty {
    height: 15em;
}

/*  SPLASH page*/
main .buds {
    width: 30%;
    margin: 2% auto;
    background: transparent;
    border: 10px solid black;
    border-radius: 10px;
}
main .splash-btn {
     width: 100%;
}
main .cringer-title {
    font-size: 45px;
    margin: 3% auto;
}
main .cringer-slog {
    font-family: 'Shadows Into Light', cursive;
    width: 80%;
    margin: 0 auto;
}

 /*  LOGIN FORM */
.loginForm {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

/*  SIGN UP PAGE*/
.signUpForm {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
main .drunk {
    width: 20%;
}
input {
    background-color: rgba(229,207,30,.50) !important;
    border-radius: 5px !important;
    margin-top: 5px !important;
    border-bottom: none !important;
    font-size: 25px !important;
}
/*  This placeholder is for the DOB tabs*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
    text-align: center;
}
body label {
    font-size: 35px;
    display: inline-block;
    color: black;
    padding: 7px;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Shadows Into Light', cursive
}
.helptext {
    display: none;
}
/* removes text */
form p:nth-child(6) {
    display: none;
}
form p:nth-child(7) label {
    display: block;
    width: 50%;
    margin: 0 auto;
}

/*  removes the extn field in phones*/
#id_phone_1 {
    display: none;
}

#submitFormBtn {
    margin-bottom: 20px;
}

/* ENTRY DOB fields */
#id_birth_date_0 {
    display: inline;
    width: 16%;
    margin: 1%;
}

#id_birth_date_1 {
    display: inline;
    width: 16%;
    margin: 1%;
}

#id_birth_date_2 {
    display: inline;
    width: 16%;
    margin: 1%;
}

/*  HOMEPAGE when users log in*/
.appendMessages li {
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
    width: 100%;
    font-size: 35px;
}
/*  here is the send button for text messages*/
#drink-btn {
    margin: 10% auto;
}

/*  beer, martini, and shot glass pics*/
.drinkPics {
    width: 10%;
}

/*  RESPONSIVE TABLET */
@media screen and (max-width: 850px) {
    /*  birthdate labels */
    form p:nth-child(7) label {
        display: block;
        width: 75%;
        margin: 0 auto;
    }
    #id_birth_date_0 {
        display: inline;
        width: 25%;
        margin: 1%;
    }
    #id_birth_date_1 {
        display: inline;
        width: 25%;
        margin: 1%;
    }
    #id_birth_date_2 {
        display: inline;
        width: 35%;
        margin: 1%;
    }

    /* beer, martini, and shot glass */
    .drinkPics {
        width: 15%;
    }

    /*  Splash page pic*/
    main .buds {
        width: 50%;
    }
}

/*  RESPONSIVE PHONE */
@media screen and (max-width: 425px) {

    h3 {
        font-size: 25px;
    }

    /*  birthdate labels */
    form p:nth-child(7) label {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    #id_birth_date_0 {
        display: inline;
        width: 25%;
        margin: 1%;
    }
    #id_birth_date_1 {
        display: inline;
        width: 25%;
        margin: 1%;
    }
    #id_birth_date_2 {
        display: inline;
        width: 35%;
        margin: 1%;
    }

    /* Email address label */
    form p:nth-child(3) label {
        display: block;
        width: 100%;
        font-size: 30px;
    }

    /*SPLASH page  */
    main .cringer-title {
        display: inline-block;
        width: 100%;
        margin-top: 5%;
    }
    main .buds {
        width: 75%;
        margin: 5% auto;
    }
    main .splash-btn {
        display: inline;
        padding: 25px ;
        width: 75%;
    }

    /* SIGN UP pic */
    main .drunk {
        width: 40%;
    }

    /*User Home page  */
    .drinkPics {
        width: 20%;
    }

    /* Placeholder for mm/dd/yyyy */
    ::placeholder {
        font-size: 20px;
    }
}
