<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}

	<nav>
		<div class="nav-wrapper black">
		  <a href="/" class="brand-logo center globalNav">CRINGE</a>
		  <ul id="nav-mobile" class="left">
			<a href="{% url 'logout' %}"><i class="fas fa-arrow-circle-left"></i></a>
		  </ul>

		  <ul id="nav-mobile" class="right">
		  	<a class="waves-effect waves-light modal-trigger" href="#modal2"><i class="fas fa-users"></i></a>
		  </ul>
		</div>
	</nav>

	<h3>Hi {{ user.username }}, are you ready to drink responsibly?</h3>
		<ul class="appendMessages">
			<li>***APPEND MESSAGES GOES HERE*** in this "li" tag</li>
		</ul>
	<div class="iconContainer">
		<img src="../../static/images/beericon.png" class="drinkPics" id="beerIcon">
		<img src="../../static/images/martini.png" class="drinkPics" id="martiniIcon">
		<img src="../../static/images/shotglass.png" class="drinkPics" id="shotglassIcon">
	</div>
	<!-- <h3>You'll be making all your mistakes from {{ user.phone }}, good luck!</h3> -->

	<!-- <h4>By the way your user ID is {{ user.id }}</h4> -->


	<div id="modal2" class="modal">
		<div class="modal-content">
			<h4>{{ user.username }}'s trashy contacts</h4>
		</div>
		{% for contact in user_contacts %}
			<p>{{ contact.name }}: {{ contact.phone }}</p>
		{% endfor %}
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
		</div>
	</div>

	<a id="drink-btn" class="waves-effect waves-light btn" data-id="{{user.id}}">
  		SEND IT!
	</a>
	<div class="empty">
	</div>

	{% else %}
		<p>You are not logged in</p>
		<a href="{% url 'login' %}">login</a> |
		<a href="{% url 'signup' %}">signup</a>
	{% endif %}
{% endblock %}
