<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<nav>
	<div class="nav-wrapper black">
	  <a href="/" class="brand-logo center globalNav">CRINGE</a>
	<ul id="nav-mobile" class="right">
	  <a href="{% url 'login' %}" id="loginNav">Login</a>
  </ul>
	</div>
</nav>
  <h2>Sign up</h2>
  <img src="../../static/images/drunk.png" class="drunk">
  <form method="post" class="signUpForm">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="submitFormBtn" class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
  </form>
  <div class="empty">
  </div>
{% endblock %}
