<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Welcome?{% endblock %}
{% block content %}

<nav>
	<div class="nav-wrapper black">
	  <a href="/" class="brand-logo center globalNav">CRINGE</a>

	</div>
</nav>
<h1
	class="cringer-title">Welcome to Cringe!
</h1>

<h4 class="cringer-slog">
	Don't worry about ruining your life, we'll do it for you
</h4>
 	<img src="../../static/images/buds.png" class="buds">

<div class="splash-btn">
	<a class="btn waves-effect waves-light black signup-splash " href="{% url 'signup' %}">Sign-up</a>


	<a class="btn waves-effect waves-light black login-splash" href="{% url 'login' %}">login</a>
</div>
<div class="empty">
</div>

{% endblock %}
